@charset "UTF-8";
/* Variables generales */
/* Estilos generales */
body, body.index, body.mapa, body.hoteles, body.contacto {
  font-family: "Montserrat", sans-serif; }

.copyright {
  font-size: 12px; }

div.menu-item {
  display: inline-block;
  margin: 0px 30px; }

/* Imports */
/* Variables */
/* Estilos */
body.index {
  background-image: url("../img/barcovela.JPEG");
  background-size: cover; }
  body.index header {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #064141;
    text-align: center; }
  body.index section h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #06026b; }

body.mapa {
  background-color: #617282; }
  body.mapa header {
    text-align: center;
    font-size: larger; }
  body.mapa header nav ul li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: #260447; }
  body.mapa main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium; }
    @media screen and (min-width: 768px) {
      body.mapa main {
        max-width: 768px;
        margin: 0 auto; } }
    @media screen and (min-width: 1024px) {
      body.mapa main {
        max-width: 1024px; } }
  body.mapa .main-image-container {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */ }

body.hoteles {
  background-color: #617282;
  /* Media queries para pantallas más grandes */ }
  body.hoteles header {
    text-align: center;
    font-size: larger; }
    body.hoteles header div {
      border: 1px solid black;
      padding: 10px; }
    body.hoteles header h1 {
      font-size: xx-large;
      margin-top: 20px;
      color: white; }
  @media screen and (min-width: 768px) {
    body.hoteles {
      /* Estilos de main para pantallas más grandes */ }
      body.hoteles header {
        font-size: x-large;
        display: flex;
        justify-content: center; }
        body.hoteles header div {
          transition: 3s; }
          body.hoteles header div:hover {
            transform: scale(0.9);
            transition: 3s;
            background-color: white;
            box-shadow: 1px 1px 1px black; }
      body.hoteles main {
        font-size: large; } }

.botones-hoteles {
  text-align: center; }

.boton-hotel {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  border-radius: 4px; }

.boton-hotel:hover {
  background-color: #3e8e41; }

body.pasajes {
  font-family: 'Montserrat', sans-serif;
  background-color: #617282;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Estilos de header */
  /* Estilos de main */
  /* Estilos de links */ }
  body.pasajes header {
    text-align: center;
    font-size: larger; }
  body.pasajes header nav ul li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: #260447;
    text-align: center; }
  body.pasajes main {
    font-size: medium;
    text-align: center; }
    body.pasajes main h2 {
      margin-top: 0; }
  body.pasajes a {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px; }

body.contacto {
  background-image: url(../img/buceoyfishes.JPG); }
  body.contacto header {
    color: black;
    text-align: center;
    padding: 10px;
    font-size: larger; }
  body.contacto section header {
    display: none; }
  body.contacto section h1 {
    font-size: xx-large;
    text-align: center;
    margin-top: 20px; }
  body.contacto section .container {
    border: 1px solid black;
    padding: 10px;
    text-align: center; }
    body.contacto section .container div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      margin: 0 auto; }
    body.contacto section .container input[type="email"],
    body.contacto section .container textarea {
      font-size: small;
      padding: 5px;
      width: 100%;
      height: 100%;
      max-width: 50px;
      max-height: 50px; }
  body.contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    body.contacto form .form-control {
      width: 300px;
      height: 200px; }
    body.contacto form input[type="email"],
    body.contacto form textarea {
      font-size: small;
      padding: 5px; }
    body.contacto form button[type="submit"] {
      margin-top: 10px; }
  body.contacto form div input[type="email"] {
    width: 150px;
    height: 60px; }
  body.contacto form div textarea {
    width: 400px;
    height: 300px; }
  @media screen and (min-width: 768px) {
    body.contacto section h1 {
      font-size: xxx-large; } }
  @media screen and (min-width: 1024px) {
    body.contacto section h1 {
      font-size: xxxx-large; } }
