/* Variables */
$image-barco: url("../img/barcovela.JPEG");

/* Estilos */
@mixin custom-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  body.index {
    @extend body;
    background-image: $image-barco;
    background-size: cover;
  
    header {
      @include custom-font; 
      color: rgb(6, 65, 65);
      text-align: center;
    }
  
    section h2 {
      @include custom-font; 
      color: rgb(6, 2, 107);
    }
  }
